<div>
  <h2>Hello {{job_seeker.user.first_name}} {{job_seeker.user.last_name}},</h2>

  <h4>Greetings from {{employer.company_name}},</h4>

  <h4>This is to confirm that we have successfully received your application for the position of "{{job_post.job_title}}".</h4>

  <p>Thanks for showing your interest in {{employer.company_name}}. Our recruitment team will go through your application details. If you are shorlisted, you will be contacted shortly.</p>

  <br>
  <p>Best Regards.</p>
  <p>{{employer.company_name}}, HRD</p>

</div>

